

*.iml
/RegistroPropiedad/.idea
/RegistroPropiedad/out
/pruebaInputOutput/.idea
/pruebaInputOutput/out
/GestionAcademica/.idea
/GestionAcademica/out
/SistemaControlTemperatura/.idea
/SistemaControlTemperatura/out
/TelefonoCelular/.idea
/TelefonoCelular/out
